﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-6">
        Coffee Shops of Madison

    </h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <link rel="stylesheet" href="~/css/Searchbar.css">

    <style>
        body {
            background-image: url("https://images.pexels.com/photos/15821235/pexels-photo-15821235/free-photo-of-neon-on-wall.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
            background-size: 100% 100%;
            color: hotpink;
            font-family: cursive
        }
    </style>



    @* <form action="action_page.php" method="post" >
    *@
    <style type="text/css">
        footer {
            position: absolute;
            bottom: 0;
            height: 40px;
            margin-top: 40px;
        }
    </style>
    <div></div>

    <form asp-action="Login" method="post">
       
        <div class="container">
            

            <td align="left">
                <label for="uname"><b>Username</b></label>
            </td>
            <input type="text" placeholder="Enter Username" name="uname" required>
            <style type="text/css">
                footer {
                    position: absolute
                    bottom: 0;
                    height: 40px;
                    margin-top: 40px;
                }
            </style>
            <div></div>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
            <style type="text/css">
                footer {
                    position: absolute;
                    bottom: 0;
                    height: 40px;
                    margin-top: 40px;
                }
            </style>
            <div></div>
            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <style type="text/css">
                footer {
                    position: absolute;
                    bottom: 0;
                    height: 40px;
                    margin-top: 40px;
                }
            </style>
            <div></div>
        </div>

        <div class="container" style="background-color:">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
            <style type="text/css">
                footer {
                    position: absolute;
                    bottom: 0;
                    height: 40px;
                    margin-top: 40px;
                }
            </style>
            <div></div>

        </div>

       

    </form>
        
   

    



</div>

﻿