@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">

    <h1 class="display-4">
        Coffee Shops of Madison

    </h1>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <link rel="stylesheet" href="~/css/Searchbar.css">

    <style>
        body {
            background-image: url("https://images.pexels.com/photos/15821235/pexels-photo-15821235/free-photo-of-neon-on-wall.png?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
            background-size: cover;
            color: hotpink;
            font-family: cursive
        }
    </style>
    @* <form action="action_page.php" method="post"> *@
    <form asp-action="Login" method="post">
        

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>
    ﻿



</div>
